<%- include("../partials/header.ejs") %> <%- include("../partials/navbar.ejs")
%>
<div class="container">
  <h1>All Campgrouns</h1>
</div>
<%- include("../partials/flash.ejs") %>
<div class="container">
  <% for(let camp of camps) { %>
  <div class="row mb-3 border border-dark rounded py-2">
    <div class="col-lg-4 col-sm-12">
      <img src="<%= camp.image %>" class="card-img-top" alt="..." />
    </div>
    <div class="col-lg-7 col-sm-10">
      <div class="card-body">
        <h5 class="card-title"><%= camp.title %></h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">
          <%= camp.location %>
        </h6>
        <p class="card-text"><%= camp.description %></p>
      </div>
      <div class="card-body">
        <a
          href="/campgrounds/<%= camp._id %>/"
          class="card-link col-5 btn btn-primary"
          >See details</a
        >
      </div>
    </div>
  </div>
  <% } %>
</div>
<%- include("../partials/bottom.ejs") %>
