<%- include("../partials/header.ejs") %> <%- include("../partials/navbar.ejs")
%>
<link rel="stylesheet" href="/star.css" />

<div class="container my-3"><%- include("../partials/flash.ejs") %></div>
<div class="container my-3">
  <div class="row">
    <div class="card col-4">
      <% for(img of campground.images) {%>
      <img src="<%= img.url %>" class="card-img-top" alt="..." />
      <% } %>
      <div class="card-body">
        <h5 class="card-title"><%= campground.title %></h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">
          <%= campground.location %>
        </h6>
        <p class="card-text"><%= campground.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= campground.price %></li>
        <% if(campground.author) {%>
        <li class="list-group-item">
          Created by: <%= campground.author.username %>
        </li>
        <% } %>
      </ul>
      <div class="card-body row">
        <% if(currentUser && campground.author.equals(currentUser._id)) {%>
        <a
          href="/campgrounds/<%= campground._id %>/edit"
          class="card-link col-5 btn btn-warning btn-sm"
          >Edit</a
        >

        <form
          class="col-5"
          action="/campgrounds/<%= campground._id %>?_method=DELETE"
          method="POST"
        >
          <button class="btn btn-danger btn-sm" type="submit">Delete</button>
        </form>
        <% } %>
      </div>
    </div>
    <!-- Review form  -->
    <div class="p-2 mx-2 col-4">
      <% if(currentUser) {%>
      <form action="/campgrounds/<%= campground._id %>/reviews" method="post">
        <div class="mb-3">
          <fieldset class="starability-basic">
            <legend>Rate Us:</legend>
            <input
              type="radio"
              id="no-rate"
              class="input-no-rate"
              name="rating"
              value="0"
              checked
              aria-label="No rating."
            />
            <input type="radio" id="first-rate1" name="rating" value="1" />
            <label for="first-rate1" title="Terrible">1 star</label>
            <input type="radio" id="first-rate2" name="rating" value="2" />
            <label for="first-rate2" title="Not good">2 stars</label>
            <input type="radio" id="first-rate3" name="rating" value="3" />
            <label for="first-rate3" title="Average">3 stars</label>
            <input type="radio" id="first-rate4" name="rating" value="4" />
            <label for="first-rate4" title="Very good">4 stars</label>
            <input type="radio" id="first-rate5" name="rating" value="5" />
            <label for="first-rate5" title="Amazing">5 stars</label>
          </fieldset>
        </div>
        <div class="form-floating">
          <textarea
            class="form-control"
            placeholder="Leave a comment here"
            id="floatingTextarea2"
            style="height: 100px"
            name="body"
          ></textarea>
          <label for="floatingTextarea2">Comments</label>
        </div>
        <div class="buttons my-3">
          <button type="submit" class="btn btn-primary btn-sm">Comment</button>
        </div>
      </form>
      <% } %> <% if(campground.review) {%> <% for(review of campground.review)
      {%>
      <div class="card my-2 p-2">
        <p class="starability-result" data-rating="<%= review.rating%>">
          Rated: 3 stars
        </p>
        <h5 class="card-subtitle mb-2 text-body-secondary">
          <%= review.author.username%>
        </h5>
        <p><%= review.body%></p>
        <% if(currentUser && review.author.equals(currentUser._id)) {%>
        <form
          action="/campgrounds/<%= campground._id %>/reviews/<%= review._id %>?_method=DELETE"
          method="post"
        >
          <button type="submit" class="btn btn-danger btn-sm">Delete</button>
        </form>
        <%}%>
      </div>
      <% } %> <% } %>
    </div>
  </div>
</div>
<%- include("../partials/bottom.ejs") %>
